.body {
    background-color: #198754;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;

}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}